apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "prometheus-artifactory-exporter.fullname" . }}
  labels:
    app: {{ template "prometheus-artifactory-exporter.name" . }}
    chart: {{ template "prometheus-artifactory-exporter.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    {{- with .Values.extraDeploymentLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "prometheus-artifactory-exporter.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "prometheus-artifactory-exporter.name" . }}
        release: {{ .Release.Name }}
        {{- with .Values.extraPodLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    {{- if .Values.podAnnotations }}
      annotations:
        {{ toYaml .Values.podAnnotations | nindent 8 }}
    {{- end }}
    spec:
    {{- if or .Values.imagePullSecrets .Values.global.imagePullSecrets }}
    {{- include "prometheus-artifactory-exporter.imagePullSecrets" . | indent 6 }}
    {{- end }}
      serviceAccountName: {{ template "prometheus-artifactory-exporter.serviceAccountName" . }}
      {{- with .Values.initContainers }}
      initContainers: {{ toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "--log.level={{ .Values.options.logLevel }}"
            - "--log.format={{ .Values.options.logFormat }}"
            {{- if .Values.options.useCache }}
            - "--use-cache"
            - "--cache-timeout={{ .Values.options.cacheTimeout | default "30s" }}"
            - "--cache-ttl={{ .Values.options.cacheTTL | default "5m"}}"
            {{- end }}
          {{- range $metric := .Values.options.optionalMetrics }}
            - "--optional-metric={{ $metric }}"
          {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            timeoutSeconds: 10
          {{- with .Values.resources }}
          resources: {{ toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.extraVolumeMounts }}
          volumeMounts: {{ toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: WEB_LISTEN_ADDR
              value: {{ printf ":%v" .Values.service.port }}
            - name: WEB_TELEMETRY_PATH
              value: {{ .Values.options.telemetryPath | quote }}
            - name: ARTI_SCRAPE_URI
              value: {{ .Values.artifactory.url | quote }}
            - name: ARTI_SSL_VERIFY
              value: {{ .Values.options.verifySSL | quote }}
            - name: ARTI_TIMEOUT
              value: {{ .Values.options.timeout| quote }}
            - name: ACCESS_FEDERATION_TARGET
              value: {{ .Values.options.accessFederationTarget | quote }}
          envFrom:
            - secretRef:
                name: {{ template "prometheus-artifactory-exporter.secret" . }}

        {{- with .Values.extraContainers }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity: {{ toYaml . | nindent 8 }}
    {{- end }}
    {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.extraVolumes }}
      volumes: {{ toYaml . | nindent 8 }}
    {{- end }}
